<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body>

<header th:replace="fragments/commons :: navigation"></header>

<main class="p-5 bg-blur text-center">
    <h1 class="text-light border-bottom">Add Movie</h1>
    <div class="d-flex justify-content-center">
        <form th:action="@{/movies/add}"
              method="POST"
              th:object="${movieAddBindingModel}"
              class="text-light">
            <div class="form-row m-5">
                <div class="col">
                    <label for="name">Movie name</label>
                    <input th:field="*{name}"
                           th:errorclass="is-invalid"
                           required minlength="5" maxlength="20"
                           id="name"
                           name="name"
                           type="text" class="form-control" placeholder="Movie name">
                    <small id="nameError" class="invalid-feedback form-text bg-danger rounded">Name must be between 3 and 20
                        characters</small>
                </div>
                <div class="col">
                    <label for="imageUrl">Poster</label>
                    <input th:field="*{poster}"
                            th:errorclass="is-invalid"
                           name="imageUrl"
                           id="imageUrl" type="text" class="form-control" placeholder="Image Url">
                    <small id="imageUrlError" class="invalid-feedback form-text bg-danger rounded">Image url must be more than 5
                        characters</small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="rating">Rating</label>
                    <input th:field="*{rating}" required min="0" th:errorclass="is-invalid" id="rating" name="rating" type="number" class="form-control" placeholder="Rating">
                    <small id="ratingError" class="invalid-feedback form-text bg-danger rounded">Rating must be positive</small>
                </div>

            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="releaseDate">Release date</label>
                    <input th:field="*{releaseDate}"
                           th:errorclass="is-invalid"
                           id="releaseDate" name="releaseDate"
                           type="date" class="form-control" placeholder="Release date">
                    <small id="releaseDateError" class="invalid-feedback form-text bg-danger rounded">Release date cannot be in the future</small>
                </div>
                <div class="col">
                    <label for="videoUrl">Trailer</label>
                    <input th:field="*{trailer}" required minlength="4" id="videoUrl" name="videoUrl" type="text" class="form-control" placeholder="Video url">
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="director">Director</label>
                    <select th:field="*{director}" th:errorclass="is-invalid" id="director" class="custom-select">
                        <option value="" selected>Select Director</option>
                        <option th:each="a : ${directors}" th:value="${a}" th:text="${a}">First Director</option>
                    </select>
                    <small id="directorError" class="invalid-feedback form-text bg-danger rounded">You must select director</small>
                </div>
                <div class="col">
                    <label for="genre">Genre</label>
                    <select th:field="*{genre}" th:errorclass="is-invalid" id="genre" name="genre" class="custom-select">
                        <option value="" selected>Select genre</option>
                        <option
                            th:each="g : ${T(com.softuni.movietopia.model.entities.enums.Genre).values()}"
                            th:value="${g}"
                            th:text="${g}">Select genre</option>
                    </select>
                    <small id="genreError" class="invalid-feedback form-text bg-danger rounded">You must select genre</small>
                </div>
            </div>

            <div class="form-row m-5">
                <div class="col">
                    <label for="description">Description</label>
                    <textarea th:field="*{description}" th:errorclass="is-invalid" id="description" type="text" class="form-control" placeholder="Description"></textarea>
                    <small  id="descriptionError" class="invalid-feedback form-text bg-danger rounded">Description length must be more than 5 characters</small>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary btn-block w-50" type="submit">Add New Movie</button>
            </div>
        </form>
    </div>
</main>

<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>
