<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>
<body>

<header th:replace="fragments/commons :: navigation"></header>

<main class="p-5 align-content-center bg-blur">
  <p class="text-light">
    Oops... we could not find the requested resource! Please excuse us, we are working on it...
  </p>

  <div class="card mb-4 box-shadow">
    <img th:src="@{/images/deadpool.jpg}" class="card-img-top" alt="Thumbnail [100%x225]"
         data-holder-rendered="true"
         style="height: 75%; width: 75%; display: block;">
    <div class="card-body">

</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>
