<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head th:replace="fragments/commons :: head"></head>
<body id="statistics">
<header th:replace="fragments/commons :: navigation"></header>
<main class="p-5 align-content-center bg-blur">

  <div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>

        <h2 class="text-light">Requests</h2>
        <div class="table-responsive text-light">
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th>Type</th>
              <th>Count</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Total Requests</td>
              <td> <th:block th:text="${stats.getTotalRequest()}"></th:block></td>
            </tr>
            <tr>
              <td>Authorized Requests</td>
              <td> <th:block th:text="${stats.getAuthRequest()}"></th:block></td>
            </tr>
            <tr>
              <td>Anonymous Requests</td>
              <td>   <th:block th:text="${stats.getAnonymRequest()}"></th:block></td>
            </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>